.app-block {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
}
.game-field{
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  /*width: 100%;*/
  /*height: 100%;*/
}
.table-wrapper{
  display: flex;
  flex-grow: 1;
}

.game-field-container{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
}
.table {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: stretch;
}

.table-container{
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 25px;
  padding: 10px;
  border: 3px solid;
}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.cell {
  position: relative;
  flex-grow: 1;
}


.deadmen-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 30px;
}
app-chessmen{
  width: 30px;
  height: 30px;
}
.controls{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.help-text{
  text-align: center;
}


.display-none{
  display: none;
}
.marker-container {
  text-transform: uppercase;
}

.horizontal-marker {
  left: 50%;
  transform: translateX(-50%);
}
.vertical-marker {
  top: 50%;
  transform: translateY(-50%);
}
.horizontal-marker,
.vertical-marker{
  display: none;
  position: absolute;
  line-height: .95;
}
.marker-container.left .vertical-marker {
  display: block;
  left: -31px;
}
.marker-container.right .vertical-marker {
  display: block;
  right: -31px;
}
.marker-container.top .horizontal-marker {
  display: block;
  top: -31px;
}
.marker-container.bottom .horizontal-marker {
  display: block;
  bottom: -31px;
}

.rotate-field .rotatable {
  transform: rotate(180deg);
}
.rotate-field .reversable {
  flex-direction: row-reverse;
}
.rotatable  {
  transition: transform 150ms ease;
}

