<div class="app-block" [ngClass]="{'rotate-field': isRotated}">
  <div class="controls">
    <input type="color" [ngModel]="color1 | async" [value]="color1 | async" name="color1"
      (ngModelChange)="color1.next($event)">
    <input type="color" [ngModel]="color2 | async" [value]="color2 | async" name="color2"
      (ngModelChange)="color2.next($event)">
    <button (click)="save()">Save</button>
    <button (click)="load()">Load</button>
    <button (click)="newGame()">New game</button>
    <button (click)="rotate()">Rotate field</button>
  </div>
  <div class="help-text">
    <span *ngIf="isWhitesMove">White's move</span>
    <span *ngIf="!isWhitesMove">Black's move</span>
  </div>
  <div class="game-field">
    <div class="game-field-container rotatable">
      <div class="deadmen-list reversable">
        <app-chessmen class="rotatable" *ngFor="let deadmen of whiteDeads" [chessmen]="deadmen"></app-chessmen>
      </div>
      <div class="table-wrapper">
        <div class="table" appSizeCover  [style.background-color]="color1 | async">
          <div class="table-container" [style.border-color]="color2 | async">
            <div class="row" *ngFor="let row of cells; let i = index" [style.height.%]="100/cells?.length">
              <div class="cell" *ngFor="let cell of row; let j = index" >
                <app-cell [x]="j" [y]="i" class="rotatable"></app-cell>
                <div  [ngClass]="getMarkerClass(j, i)">
                  <span class="horizontal-marker rotatable">{{getHorizontalMarker(j)}}</span>
                  <span class="vertical-marker rotatable">{{getVerticalMarker(i)}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="deadmen-list  reversable">
        <app-chessmen  class="rotatable" *ngFor="let deadmen of blackDeads" [chessmen]="deadmen"></app-chessmen>
      </div>
    </div>
  </div>
</div>
