html, body, app-root, app-table, app-cell{
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
}
body{
  min-width: 320px;
}
.chessmen {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

app-chessmen{
  display: block;
  width: 100%;
  height: 100%;
}

.black_king {
  background-image: url("./assets/Chess_Black_King.svg");
}
.black_queen {
  background-image: url("./assets/Chess_Black_Queen.svg");
}
.black_knight {
  background-image: url("./assets/Chess_Black_Knight.svg");
}
.black_rock {
  background-image: url("./assets/Chess_Black_Rook.svg");
}
.black_bishop {
  background-image: url("./assets/Chess_Black_Bishop.svg");
}
.black_pawn {
  background-image: url("./assets/Chess_Black_Pawn.svg");
}

.white_king {
  background-image: url("./assets/Chess_White_King.svg");
}
.white_queen {
  background-image: url("./assets/Chess_White_Queen.svg");
}
.white_knight {
  background-image: url("./assets/Chess_White_Knight.svg");
}
.white_rock {
  background-image: url("./assets/Chess_White_Rook.svg");
}
.white_bishop {
  background-image: url("./assets/Chess_White_Bishop.svg");
}
.white_pawn {
  background-image: url("./assets/Chess_White_Pawn.svg");
}
