.cell-container{
  height: 100%;
}
.can-move {

  -webkit-box-shadow: inset 0px 0px 10px 4px rgba(255,234,0,1);
  -moz-box-shadow: inset 0px 0px 10px 4px rgba(255,234,0,1);
  box-shadow: inset 0px 0px 10px 4px rgba(255,234,0,1);
}

.can-hit {
  -webkit-box-shadow: inset 0px 0px 10px 4px rgba(255,0,0,1);
  -moz-box-shadow: inset 0px 0px 10px 4px rgba(255,0,0,1);
  box-shadow: inset 0px 0px 10px 4px rgba(255,0,0,1);
}

.active{
  cursor: pointer;
}
